# Build files
build/

# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
vendor/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env
.env.*
!.env.example

# pnpm
.pnpm-store

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/
